body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('clean_city.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333333;
}

header {
    background-color: rgba(101, 128, 183, 0.8);
    color: #331010;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: rgba(11, 46, 66, 0.693);
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #0bd2ae;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: rgba(176, 183, 139, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin: 20px 0;
}

.hidden {
    display: none;
}

form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

form div label {
    display: block;
    margin-bottom: 5px;
}

form div input, form div select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

#mapid {
    height: 600px;
}
